<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OncDocManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SPDocumentTypeFieldName" value="DocType"/>
    <add key="SPDescriptionFieldName" value="Description0"/>
  </appSettings>
  <applicationSettings>
    <OncDocManage.Properties.Settings>
      <setting name="SPDocumentTypeFieldName" serializeAs="String">
        <value>Catagory</value>
      </setting>
      <setting name="SPDescriptionFieldName" serializeAs="String">
        <value>Description0</value>
      </setting>
    </OncDocManage.Properties.Settings>
  </applicationSettings>
</configuration>