DROP TABLE GIS_STG.STG_UTILITY_THIRD_PARTY CASCADE CONSTRAINTS;
CREATE TABLE GIS_STG.STG_UTILITY_THIRD_PARTY
(
STG_UTILITY_THIRD_PARTY_ID NUMBER GENERATED ALWAYS AS IDENTITY, 
PROCESS_DT		DATE,
PROCESS_RUN_ID		NUMBER(15),
THIRD_PARTY_CODE		VARCHAR2(5),
ADDRESS_1		VARCHAR2(30),
ZIP_CODE		VARCHAR2(5),
ADDRESS_2		VARCHAR2(30),
STATE		VARCHAR2(2),
NAME		VARCHAR2(40),
CONTACT_NAME		VARCHAR2(40),
TOWN_C		NUMBER(3),
ZIP_PLUS4		VARCHAR2(4),
CONTACT_AREA_CODE		VARCHAR2(3),
CONTACT_PHONE_EXCHANGE		VARCHAR2(3),
CONTACT_PHONE_NO		VARCHAR2(4),
CONTACT_PHONE_EXT		VARCHAR2(4),
THIRD_PARTY_TYPE_CODE		VARCHAR2(2),
CREW_HQ_CODE		VARCHAR2(5),
DUALLY_CERTIFIED_YN		VARCHAR2(1),
AUD_CREATE_USR_ID		VARCHAR2(20) DEFAULT USER,
AUD_MOD_USR_ID		VARCHAR2(20),
AUD_CREATE_DT		TIMESTAMP(6) DEFAULT SYSDATE,
AUD_MOD_DT		TIMESTAMP(6)
);

