<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="Config" value="ONCORDEV"/>
      <add key="Username" value="GIS"/>
      <add key="Password" value="ONCORDEV999"/>
      <add key="AutoCustomCommand" value="53"/>
      <add key="AutoCustomCommandArgument" value="QueueTable=GISAUTO_QUEUE, PollingInterval=60"/>
      <add key="ActiveJob" value="125255"/>
      <add key="HeartbeatInterval" value="300"/>
      <add key="EmailListTo" value="richard.gabrys@hexagonsi.com"/>
      <add key="EmailListFrom" value="richard.gabrys@hexagonsi.com"/>
    </appSettings>
</configuration>
