DROP TABLE GIS_ONC.CULIB_MACRO CASCADE CONSTRAINTS;
CREATE TABLE GIS_ONC.CULIB_MACRO
(
ID NUMBER GENERATED ALWAYS AS IDENTITY,
MU_ID	VARCHAR2(15) NOT NULL,
MU_DESC VARCHAR2(120) NOT NULL,
CATEGORY_C VARCHAR2(15) NOT NULL,
EFFECTIVE_DT DATE,
EXPIRATION_DT DATE,
AUD_CREATE_USR_ID  VARCHAR2(30) DEFAULT USER, 
AUD_MOD_USR_ID  VARCHAR2(30),
AUD_CREATE_DT   TIMESTAMP(6) DEFAULT SYSDATE,
AUD_MOD_DT  TIMESTAMP(6) 
);

ALTER TABLE GIS_ONC.CULIB_MACRO ADD CONSTRAINT CULIB_MACRO_PK PRIMARY KEY (MU_ID);

GRANT INSERT, UPDATE, DELETE, SELECT ON GIS_ONC.CULIB_MACRO TO GIS_INFA;