DROP TABLE GIS_ONC.CULIB_UNITATTRIBUTE CASCADE CONSTRAINTS;
CREATE TABLE GIS_ONC.CULIB_UNITATTRIBUTE
(
ID NUMBER GENERATED ALWAYS AS IDENTITY,
CU_ID	VARCHAR2(15),
CATEGORY_C VARCHAR2(15),
ATTRIBUTE_ID VARCHAR2(30),
ATTR_KEY VARCHAR2(15),
ATTR_VALUE	VARCHAR2(15),
AUD_CREATE_USR_ID  VARCHAR2(30) DEFAULT USER, 
AUD_MOD_USR_ID  VARCHAR2(30),
AUD_CREATE_DT   TIMESTAMP(6) DEFAULT SYSDATE,
AUD_MOD_DT  TIMESTAMP(6) 
);
ALTER TABLE GIS_ONC.CULIB_UNITATTRIBUTE ADD CONSTRAINT CULIB_UNITATTRIBUTE_PK PRIMARY KEY (CU_ID, CATEGORY_C, ATTRIBUTE_ID);

