DROP TABLE GIS_ONC.CULIB_UNITMATERIAL CASCADE CONSTRAINTS;
CREATE TABLE GIS_ONC.CULIB_UNITMATERIAL
(
ID NUMBER GENERATED ALWAYS AS IDENTITY,
CU_ID	VARCHAR2(15) NOT NULL,
MATERIAL_ID	VARCHAR2(15) NOT NULL,
AUD_CREATE_USR_ID  VARCHAR2(30) DEFAULT USER, 
AUD_MOD_USR_ID  VARCHAR2(30),
AUD_CREATE_DT   TIMESTAMP(6) DEFAULT SYSDATE,
AUD_MOD_DT  TIMESTAMP(6) 
);


ALTER TABLE GIS_ONC.CULIB_UNITMATERIAL ADD CONSTRAINT CULIB_UNITMATERIAL_PK PRIMARY KEY (CU_ID, MATERIAL_ID);

