DROP TABLE GIS_ONC.CULIB_MATERIAL CASCADE CONSTRAINTS;
CREATE TABLE GIS_ONC.CULIB_MATERIAL
(
ID NUMBER GENERATED ALWAYS AS IDENTITY,
MATERIAL_ID	VARCHAR2(15) NOT NULL,
MATERIAL_DESC	VARCHAR2(40),
MATERIAL_SOURCE_C	VARCHAR2(1),
MINIMUM_ISSUE_QTY	NUMBER(3,0),
MMS_UNIT_COST	NUMBER(12,4),
UNIT_OF_MEASURE_C	VARCHAR2(5),
AUD_CREATE_USR_ID  VARCHAR2(30) DEFAULT USER, 
AUD_MOD_USR_ID  VARCHAR2(30),
AUD_CREATE_DT   TIMESTAMP(6) DEFAULT SYSDATE,
AUD_MOD_DT  TIMESTAMP(6) 
);

ALTER TABLE GIS_ONC.CULIB_MATERIAL ADD CONSTRAINT CULIB_MATERIAL_PK PRIMARY KEY (MATERIAL_ID);

