DROP TABLE GIS_ONC.CULIB_MACROUNIT CASCADE CONSTRAINTS;
CREATE TABLE GIS_ONC.CULIB_MACROUNIT
(
ID NUMBER GENERATED ALWAYS AS IDENTITY,
MU_ID	VARCHAR2(15) NOT NULL,
CU_ID	VARCHAR2(15) NOT NULL,
CU_QTY NUMBER(5,0),
PRIMARY_YN VARCHAR2(1) NOT NULL,
AUD_CREATE_USR_ID  VARCHAR2(30) DEFAULT USER, 
AUD_MOD_USR_ID  VARCHAR2(30),
AUD_CREATE_DT   TIMESTAMP(6) DEFAULT SYSDATE,
AUD_MOD_DT  TIMESTAMP(6) 
);

ALTER TABLE GIS_ONC.CULIB_MACROUNIT ADD CONSTRAINT CULIB_MACROUNIT_PK PRIMARY KEY (MU_ID, CU_ID, PRIMARY_YN );

