DROP TABLE GIS_ONC.CULIB_CATEGORY CASCADE CONSTRAINTS;
CREATE TABLE GIS_ONC.CULIB_CATEGORY
(
ID NUMBER GENERATED ALWAYS AS IDENTITY,
CATEGORY_C	VARCHAR2(15) NOT NULL,
CATEGORY_DESC	VARCHAR2(50) NOT NULL,
TYPE_C	VARCHAR2(1) NOT NULL,
PREFERRED_INCLUDE_YN VARCHAR2(1) NOT NULL,
AUD_CREATE_USR_ID  VARCHAR2(30) DEFAULT USER, 
AUD_MOD_USR_ID  VARCHAR2(30),
AUD_CREATE_DT   TIMESTAMP(6) DEFAULT SYSDATE,
AUD_MOD_DT  TIMESTAMP(6) 
);

ALTER TABLE GIS_ONC.CULIB_CATEGORY ADD CONSTRAINT CULIB_CATEGORY_PK PRIMARY KEY (CATEGORY_C);

