  CREATE OR REPLACE FORCE EDITIONABLE VIEW "GIS_STG"."STG_CULIB_MACRO_UNIT_VW" ("STG_CULIB_UNIT_ASSEMBLY_ID", "PROCESS_DT", "PROCESS_RUN_ID", "MU_ID", "CU_ID", "CU_QTY", "PRIMARY_YN") AS 
  SELECT UA.STG_CULIB_UNIT_ASSEMBLY_ID,
    UA.PROCESS_DT,
    UA.PROCESS_RUN_ID,
    UA.CU_ID                     AS MU_ID,
    UA.ASSEMBLY_ITEM_ID          AS CU_ID,
    NVL(UA.UNIT_ASSEMBLY_QTY,0)  AS CU_QTY,
    NVL(UA.PRIMARY_ITEM_YN, 'N') AS PRIMARY_YN
  FROM GIS_STG.STG_CULIB_UNIT_ASSEMBLY UA,
    GIS_STG.STG_CULIB_CONSTRUCTION_UNIT M,
    GIS_STG.STG_CULIB_CONSTRUCTION_UNIT C
  WHERE UA.CU_ID        = M.CU_ID
  AND C.CU_ID           = UA.ASSEMBLY_ITEM_ID
  AND M.PROCESS_DT      = C.PROCESS_DT
  AND M.PROCESS_RUN_ID  = C.PROCESS_RUN_ID
  AND UA.UNIT_TYPE_CODE = 'M';