DROP TABLE GIS_ONC.INTERFACE_LOG CASCADE CONSTRAINTS;  
  CREATE TABLE GIS_ONC.INTERFACE_LOG
   (	"INTERFACE_LOG_ID" NUMBER GENERATED ALWAYS AS IDENTITY, 
	"INTERFACE_NAME" VARCHAR2(60 BYTE) NOT NULL ENABLE, 
	"SUB_INTERFACE_NAME" VARCHAR2(250 BYTE), 
	"COMPONENT_NAME" VARCHAR2(60 BYTE) NOT NULL ENABLE, 
	"RESULT_CODE" VARCHAR2(10 BYTE), 
	"RESULT_STATUS" VARCHAR2(30 BYTE), 
	"LOG_DETAIL" CLOB, 
	"CORRELATION_ID" VARCHAR2(100 BYTE) NOT NULL ENABLE, 
	"PROCESS_RUN_ID" VARCHAR2(100 BYTE), 
	"DATA_TABLE" VARCHAR2(40 BYTE), 
	"DATA_ROW_ID" NUMBER, 
	"INSERT_DT" TIMESTAMP (6), 
	"AUD_CREATE_USR_ID" VARCHAR2(30 BYTE), 
	"AUD_MOD_USR_ID" VARCHAR2(30 BYTE), 
	"AUD_CREATE_TS" TIMESTAMP (6), 
	"AUD_MOD_TS" TIMESTAMP (6), 
	 CONSTRAINT "INTERFACE_LOG_PK" PRIMARY KEY ("INTERFACE_LOG_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 
 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" 
 LOB ("LOG_DETAIL") STORE AS SECUREFILE (
  TABLESPACE "USERS" ENABLE STORAGE IN ROW CHUNK 8192
  NOCACHE LOGGING  NOCOMPRESS  KEEP_DUPLICATES 
  STORAGE(INITIAL 106496 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)) ;

