DROP TABLE GIS_STG.STG_CULIB_CONSTRUCTION_UNIT CASCADE CONSTRAINTS;
  CREATE TABLE GIS_STG.STG_CULIB_CONSTRUCTION_UNIT 
   (	STG_CULIB_CU_TBL_ID NUMBER GENERATED ALWAYS AS IDENTITY, 
	PROCESS_DT DATE, 
	PROCESS_RUN_ID NUMBER, 
	CU_ID VARCHAR2(15 BYTE), 
	TEMPORARY_UNIT_YN VARCHAR2(1 BYTE), 
	PRIME_ACCT NUMBER(3,0), 
	PROPERTY_UNIT_CODE NUMBER(4,0), 
	SCRAP_AMT NUMBER(11,0), 
	EXPIRATION_DATE DATE, 
	LABOR_ONLY_YN VARCHAR2(1 BYTE), 
	MATERIAL_ONLY_YN VARCHAR2(1 BYTE), 
	CU_DESC VARCHAR2(120 BYTE), 
	CU_DETAIL_DESC VARCHAR2(80 BYTE), 
	DRAWING_REFERENCE_ID VARCHAR2(15 BYTE), 
	CU_TYPE_CODE VARCHAR2(6 BYTE), 
	MATERIAL_AMT NUMBER(11,0), 
	UNIT_OF_MEASURE_CODE VARCHAR2(5 BYTE), 
	CATALOG_ID VARCHAR2(15 BYTE), 
	UNIT_TYPE_CODE VARCHAR2(1 BYTE), 
	EFFECTIVE_DATE DATE, 
	REMOVAL_ONLY_YN VARCHAR2(1 BYTE), 
	STATUS VARCHAR2(1 BYTE), 
	STANDARDS_PRINT_YN VARCHAR2(1 BYTE), 
	CU_CATEGORY_CODE VARCHAR2(15 BYTE), 
	CONTRACTOR_CU_ID VARCHAR2(15 BYTE), 
	INSULATING_VOLTAGE_CODE VARCHAR2(2 BYTE), 
	RET_NO NUMBER(1,0), 
	RUN_NO NUMBER(5,0), 
	SHORT_WK_INSTN VARCHAR2(10 BYTE), 
	USE_CODE VARCHAR2(1 BYTE), 
	AUD_CREATE_USR_ID VARCHAR2(30 BYTE) DEFAULT USER, 
	AUD_MOD_USR_ID VARCHAR2(30 BYTE), 
	AUD_CREATE_DT TIMESTAMP (6) DEFAULT SYSDATE, 
	AUD_MOD_DT TIMESTAMP (6)
   );

