 DROP TABLE GIS_STG.STG_CULIB_UNIT_ASSEMBLY CASCADE CONSTRAINTS;
 CREATE TABLE GIS_STG.STG_CULIB_UNIT_ASSEMBLY 
   (	STG_CULIB_UNIT_ASSEMBLY_ID NUMBER GENERATED ALWAYS AS IDENTITY, 
	PROCESS_DT DATE, 
	PROCESS_RUN_ID NUMBER, 
	UNIT_ASSEMBLY_NO NUMBER(10,0), 
	CU_ID VARCHAR2(15 BYTE), 
	ASSEMBLY_ITEM_ID VARCHAR2(15 BYTE), 
	MATERIAL_SOURCE_CODE VARCHAR2(1 BYTE), 
	PRIMARY_ITEM_YN VARCHAR2(1 BYTE), 
	UNIT_ASSEMBLY_QTY NUMBER(5,0), 
	UNIT_TYPE_CODE VARCHAR2(1 BYTE), 
	UPDATE_YN VARCHAR2(1 BYTE), 
	AUD_CREATE_USR_ID VARCHAR2(30 BYTE) DEFAULT USER, 
	AUD_MOD_USR_ID VARCHAR2(30 BYTE), 
	AUD_CREATE_DT TIMESTAMP (6) DEFAULT SYSDATE, 
	AUD_MOD_DT TIMESTAMP (6)
   );

